PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cashfree_ums?schema=public"

CASHFREE_APP_ID=
CASHFREE_SECRET_KEY=
CASHFREE_ENVIRONMENT=sandbox
CASHFREE_API_VERSION=2025-01-01

REDIS_URL=redis://localhost:6379
